[Unit]
Description=Buffalo NAS WoL HTTP Microservice
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/local/bin/buffalo_nas_ctl -c /etc/Buffalo_NAS_Ctl.conf
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5

MountFlags=shared

NoNewPrivileges=no
PrivateTmp=no
ProtectSystem=off
ProtectHome=off
PrivateMounts=no

[Install]
WantedBy=multi-user.target
